.login-container {
  min-height: 100vh;
  background: url("https://motionarray.imgix.net/preview-141192-Mi0B7jCQQ8-high_0001.jpg");
  max-width: 100%;
  .login-card-wrapper {
    max-width: 600px;
  }
}
